In [7]:
#Importing required packages 
import pandas as pd
import numpy as np
import datetime as dt
import os as dir 
dir.getcwd()
dir.chdir('C:/Users/sushv/Desktop')

In [12]:
#Getting the data into Python Platform 
raw_data = pd.read_csv('Adops & Data Scientist Sample Data_Analytics.csv')

In [13]:
#Question 1

#First get the data for BDV country_id
raw_data_bdv = raw_data[df.country_id == 'BDV'] 

#Grouping by Site_id, obtain the count of users 
raw_data_bdv_group = raw_data_bdv.groupby('site_id')['user_id'].nunique().to_frame() 
raw_data_bdv_group.sort_values('user_id',ascending = False).head(1)

         user_id
site_id
5NPAU        544

In [14]:
#Question 2 

#Using the datetime package for converting it into date time values
raw_data.ts = pd.to_datetime(raw_data.ts) 
starting = dt.datetime(2019,2,3,0,0,0) 
ending = dt.datetime(2019,2,4,23,59,59) 

#Using the giving time period to filter the data 
raw_data_time = df.loc[(raw_data.ts>starting)&(raw_data.ts < ending)] 

#Grouping by user and site id and getting the counts 
raw_data_count = raw_data_time.groupby(['user_id','site_id'])['ts'].count().to_frame().reset_index()
raw_data_count[raw_data_count.ts > 10]

    user_id site_id  ts
3    LC06C3   N0OTG  25
417  LC3A59   N0OTG  26
485  LC3C7E   3POLC  15
493  LC3C9D   N0OTG  17

In [20]:
#Question 3 

# Finding the last visit for each user 
raw_data_last_visit = raw_data.groupby('user_id')['ts'].max().to_frame().reset_index()

#Joining the table with the full raw data table to get the last visited site 
raw_data_last_site = raw_data_last_visit.merge(raw_data, on = ['ts','user_id'], how='left' )

#Finally getting the counts in the descending order 
raw_data_last_site.groupby('site_id')['ts'].count().to_frame().sort_values('ts', ascending = False)

          ts
site_id
5NPAU    992
N0OTG    561
QGO3G    289
GVOFK     42
3POLC     28
RT9Z6      2
EUZ/Q      1
JSUUP      1

In [26]:
#Question 4 

#Finding the first visited site by the user 
raw_data_first_visit = raw_data.groupby('user_id')['ts'].min().to_frame().reset_index()

# Joining with the raw data table to get other details 
raw_data_first_site = raw_data_first_visit.merge(raw_data, on = ['ts','user_id'], how='left' )

# Merge the first and last visit tables 
raw_data_comb = raw_data_last_site.merge(raw_data_first_site, on ='user_id', how = 'left')

# Count the number of users whose first and last sites are the same  
len(raw_data_comb[raw_data_comb.site_id_x == raw_data_comb.site_id_y])

1670